html{min-height: 100%;}
/*body {
  
}*/

/*body {
  background-image:linear-gradient(135deg,lightYellow,rgb(66, 176, 216),rgb(17, 82, 134)) ;
}*/
body{background-image: url("snow.png");
  background-repeat: no-repeat;
  background-size: cover; overflow: auto;height: 100%;background-color: white;}
.fa-snowflake-o {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}
h1{color: rgb(168, 4, 4);text-align: center;font-size: 50px;font-weight: bold;font-family: cursive;}
@keyframes fall {
  to {
    transform: translateY(130vh);
    
  }
}
#copy {
  background-color: black;
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 3;
}
.tri {
  width: 180px;
  height: 120px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: green;
  margin: 0px auto 150px auto;
  position: relative;
  z-index: -2;
}

.low {
  margin-top: -240px;
}
.high {
  margin-top: -210px;
}
.wide {
  width: 220px;
}
.wider {
  width: 250px;
}
.widest {
  width: 290px;
}
#root {
  width: 25px;
  height: 60px;
  background-color: brown;
  margin: 30px auto;
  margin-top: -151px;
}
.active {
  background-color: aqua;
}
@keyframes star {
  from {
    background-color: rgb(248, 248, 160);
  }
  to {
    background-color: rgb(255, 255, 0);
    filter: drop-shadow(0 0 15px yellow);
  }
}
#star {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    82% 100%,
    50% 70%,
    19% 100%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  height: 100px;
  width: 100px;
  background-color: rgb(248, 248, 118);
  z-index: -1;
  margin: 20px auto 0 auto;
  display: block;
  position: relative;
  top: 60px;
}
#shadow{z-index: -1;position: relative;}
.starshadow,
.staron {
  animation-name: star;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes staroff {
  from {
    background-color: rgb(255, 255, 0);
    filter: drop-shadow(0 0 15px yellow);
  }
  to {
    background-color: rgb(248, 248, 160);
    filter: drop-shadow(0 0 0 none);
  }
}
.staroff,
.shadowoff {
  animation-name: staroff;
  animation-iteration-count: 1;
  animation-duration: 0.5ms;
}
button {
  margin-left: 5px;
  margin-right: 5px;
}
#btn {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 50px;
}
#con {
  margin: -483px auto 90px auto;
  position: relative;
  z-index: -1;
  width: 280px;
  height: 410px;
}
.cir {
  background-color: transparent;
  width: 18px;
  height: 18px;
  border-radius: 18px;
  z-index: -1;
  position: relative;
}
@keyframes redc {
  0% {
    background-color: red;
    box-shadow: 0px 0px 20px red;
  }
  50% {
    background-color: rgb(248, 248, 122);
    box-shadow: 0px 0px 20px yellow;
  }
  100% {
    background-color: royalblue;
    box-shadow: 0px 0px 20px blue;
  }
}
.red {
  animation-name: redc;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: red;
}
@keyframes yellowc {
  0% {
    background-color: rgb(248, 248, 122);
    box-shadow: 0px 0px 20px yellow;
  }
  50% {
    background-color: royalblue;
    box-shadow: 0px 0px 20px blue;
  }
  100% {
    background-color: red;
    box-shadow: 0px 0px 20px red;
  }
}
.yellow {
  animation-name: yellowc;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes bluec {
  0% {
    background-color: royalblue;
    box-shadow: 0px 0px 20px blue;
  }
  50% {
    background-color: red;
    box-shadow: 0px 0px 20px red;
  }
  100% {
    background-color: rgb(248, 248, 122);
    box-shadow: 0px 0px 20px yellow;
  }
}
.blue {
  animation-name: bluec;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.redoff {
  background-color: red;
}
.yellowoff {
  background-color: rgb(248, 248, 122);
}
.blueoff {
  background-color: royalblue;
}
#a {
  top: 38px;
  left: 77px;
}
#b {
  top: 53px;
  left: 143px;
}
#c {
  top: 43px;
  left: 188px;
}
#d {
  top: 115px;
  left: 165px;
}
#e {
  top: 60px;
  left: 63px;
}
#f {
  top: 65px;
  left: 105px;
}
#g {
  top: 105px;
  left: 62px;
}
#h {
  top: 55px;
  left: 215px;
}
#i {
  top: -85px;
  left: 103px;
}
#j {
  top: 97px;
  left: 180px;
}
#k {
  top: 53px;
  left: 98px;
}
#l {
  top: 50px;
  left: 140px;
}
#m {
  top: 0px;
  left: 0px;
}
#n {
  top: 33px;
  left: 220px;
}
#o {
  top: 0px;
  left: 0px;
}
#p {
  top: 0px;
  left: 0px;
}
#q {
  top: 0px;
  left: 0px;
}
#r {
  top: 0px;
  left: 0px;
}
#s {
  top: 0px;
  left: 0px;
}
#t {
  top: 0px;
  left: 0px;
}
#u {
  top: 0px;
  left: 0px;
}
#v {
  top: 0px;
  left: 0px;
}
#w {
  top: 0px;
  left: 0px;
}
#x {
  top: 0px;
  left: 0px;
}
#y {
  top: 0px;
  left: 0px;
}
#z {
  top: 0px;
  left: 0px;
}
#ab {
  top: 0px;
  left: 0px;
}
